bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
Tools/*.txt
Tools/*.md
Tools/*.html
Tools/out/
Turbulence.ModelGenerator/Out

model-generator

# VS Stuff
.vs

# python stuff
*.pyc
__pycache__